<div class="menu-overlay show-menu fixed top-0 lef-0 z-[1000] overflow-hidden pointer-events-none debugge r">
  <div class="pointer-events-auto relative">
    <div class="fixed top-4 left-4">
      <span class="inline-block w-0 h-6"></span>
      <div class="w-80 h-96 absolute left-0 top-full bg-white z-100 max-w-[calc(100vw-2rem)] max-h-[calc(100vh-10rem)]"
        role="menu">
        <section
          class="w-full h-full relative top-0 py-3 border border-solid border-black/10 shadow-2xl rounded-xl bg-white overflow-auto">
          <h2 class="text-base px-3">Add blocks</h2>
          <p class="px-3 opacity-40 text-sm mb-3">Keep typing to filter, or escape to exit...</p>
          <p class="px-3 opacity-60 text-sm">Filtering keyword <span
              class='bg-blue-900 text-white rounded-sm px-1 py-0.5'>1</span></p>
          <ul class="list-none p-0 my-3">
            <li>
              <button class="flex text-sm px-3 py-1 items-center justify-start gap-2 rounded-none w-full">
                <span class="py-0.5 inline-flex">%text-t%</span>
                <span class="flex flex-col items-start">
                  <strong class="leading-5">Heading 1</strong>
                  <small class="opacity-50 leading-4">Shortcut: type # + space</small>
                </span>
              </button>
            </li>
          </ul>
        </section>
      </div>
    </div>
  </div>
</div>