<div class="menu-overlay show-menu fixed top-0 lef-0 z-[1000] overflow-hidden pointer-events-none">
  <div class="pointer-events-auto relative">
    <div class="fixed top-0 left-0" data-caret-observer>
      <span class="relative inline-block w-0 h-6"></span>
      <div class="w-80 h-96 absolute left-0 top-full bg-white z-100 max-w-[calc(100vw-2rem)] max-h-[40vh]" role="menu">
        <section
          class="w-full h-full relative top-0 py-3 border border-solid border-black/10 shadow-2xl rounded-lg bg-white overflow-auto">
          <h2 class="text-base px-3 font-semibold">Add blocks</h2>
          <p class="px-3 opacity-40 text-sm mb-3">Keep typing to filter, or escape to exit...</p>
          <p class="px-3 opacity-60 text-sm">
            Filtering keyword
            <span class='bg-blue-900 text-white rounded-sm px-1 py-0.5' data-feedback>
              /
            </span>
          </p>
          <ul class="list-none p-0 my-3"></ul>
        </section>
      </div>
    </div>
  </div>
</div>