@tailwind base;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  // color-scheme: light dark;
  // color: rgba(255, 255, 255, 0.87);
  // background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  overflow: hidden;
}

body {
  margin: 0;
  min-height: 100vh;
  overflow: auto;
  animation: fadeIn 1s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

* {
  box-sizing: border-box;
  font-family: inherit;
  color: currentColor;
}

button {
  // border: none;
  // background: none;
  font-size: inherit;
  // cursor: pointer;
  @apply inline-flex items-center justify-center transition-all duration-300 cursor-pointer bg-transparent border-none rounded-md whitespace-nowrap;

  &.disabled,
  &[tabindex='-1'] {
    cursor: not-allowed;
  }

  &:not([tabindex='-1']) {
    &:hover,
    &:focus {
      background: rgba(0, 0, 0, 0.05);
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

a {
  @apply transition-all duration-300;

  &:hover,
  &:focus {
    @apply text-blue-900;
  }
}

.debugger {
  &,
  * {
    border: 1px solid red;
  }
}

[data-caret-observer] {
  [role='menu'] {
    transition: transform 0.35s, opacity 0.35s, visibility 0s ease 0.35s;
    transform: scale(0.8);
    opacity: 0;
    visibility: hidden;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);

    li {
      &,
      button > * {
        pointer-events: none;
      }

      button {
        pointer-events: auto;

        &:hover,
        &:focus {
          background: rgba(0, 0, 0, 0.05) !important;
        }
      }

      &:first-child button {
        background: rgba(0, 0, 0, 0.025);
      }
    }
  }

  &[data-show-menu='true'] {
    [role='menu'] {
      visibility: visible;
      transition: transform 0.35s, opacity 0.35s, visibility 0s ease 0s;
      transform: scale(1);
      opacity: 1;
      transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
  }
}

[data-textarea] {
  &:focus:empty::after {
    @apply opacity-40 pointer-events-none;
    content: attr(placeholder);
  }
}

// @media (prefers-color-scheme: light) {
//   :root {
//     color: #213547;
//     background-color: #ffffff;
//   }
// }

@tailwind components;
@tailwind utilities;
