@tailwind base;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  // color-scheme: light dark;
  // color: rgba(255, 255, 255, 0.87);
  // background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  font-family: inherit;
  color: currentColor;
}

button {
  // border: none;
  // background: none;
  font-size: inherit;
  // cursor: pointer;
  @apply inline-flex items-center justify-center transition-all duration-300 cursor-pointer bg-transparent border-none rounded-md whitespace-nowrap;

  &.disabled,
  &[tabindex='-1'] {
    cursor: not-allowed;
  }

  &:not([tabindex='-1']) {
    &:hover,
    &:focus {
      background: rgba(0, 0, 0, 0.05);
    }
  }
}

a {
  @apply transition-all duration-300;

  &:hover,
  &:focus {
    @apply text-blue-900;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

@tailwind components;
@tailwind utilities;
