<main class="flex flex-col container mx-auto max-w-3xl p-4 lg:px-0">
  <header
    class="flex gap-1 p-1 px-1.5 items-center justify-between border border-solid border-black/10 shadow-sm rounded-md text-sm">
    <section class="flex items-center gap-2.5">
      <span class="inline-block text-sm py-1 px-2 text-green-900 bg-green-100 rounded-md font-semibold">P</span>
      <span class="opacity-20">|</span>
      <span class="inline-flex items-center gap-1 opacity-50">%clock% Omin</span>
      <span class="opacity-20">|</span>
      <span class="w-5 h-5 rounded-full bg-orange-500">
        <!-- <img src="" alt=""> -->
      </span>
      <span class="opacity-20">|</span>
      <span class="inline-flex items-center gap-1 opacity-50">%arrow-down-left% 0</span>
    </section>

    <section class="flex gap-1.5 items-center">
      <span class="inline-flex opacity-50">%check-circle%</span>
      <span class="inline-flex text-green-700">%cloud%</span>
      <button class="px-0.5 py-1" tabindex="-1">%dots-three-vertical%</button>
    </section>
  </header>

  <section>
    <h1 class="text-[2.5rem] pb-2 mt-7 mb-5 border-b border-0 border-solid border-black/10">Front-end
      developer test
      project
    </h1>

    <p class="opacity-80">
      Your goal is to make a page that looks exactly like this one, and has the ability to create H1 text simply by
      typing / then 1, then typing text, and hitting Enter
    </p>
  </section>

  <section class="relative mt-10" data-textareas-container></section>
</main>